{box-sizing: border-box}
   

.row{
	width: 1000px;
	margin-top: 10px;
	margin:auto}
.picture img{

	
	width: calc( 100% / 3 - 10px );
	margin-bottom: 10px;
	transition: transform 2s linear;
	float : left;
	margin-right: 15px;
	border: 4px solid white;
	box-shadow: 10px 10px 4px 4px #8a868a;
}
.picture:hover img{
	transform: scale(1.1);
}
