*{box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;}
body{margin: 0;}
ul{
	list-style-type: none;
	padding: 0;
}

#menu{
	float: left;
	width:100%;
	background-color: #f7f7f7;
	text-transform: uppercase;
}
#menu>li{
	float: left;
	position: relative;

}
#menu>li>a{
	color: #92929d;
	text-decoration: none;
	padding: 15px;
	display: block;
	border-bottom: 2px solid transparent;
}
#menu>li>a:hover{
	border-bottom: 2px solid #65509e;
	color: #6e55b4;
}
.sub-menu>li>a{
	width: 100%;
	float: left;
	text-decoration: none;
	display: block;}
	.sub-menu>li>a:hover{border-bottom: 2px solid #65509e;
						color: #6e55b4;}

