{box-sizing: border-box;}
body {
    background-color: white;
	}
  @keyframes abc {
 10%{height: 150px;}
  25%{height: :100px;}
  35%{height: :150px;}
  60%{height: :100px;}
80%{height: :150px;}}
  img{

padding-left: 500px;
width: 100px;
height: 100px;
animation: abc 2s linear 0.2s infinite;
background-color: white;}


